{% extends "layouts/default.html" %}
{% block content %}
  <h1>Add Team</h1>

  <form method="POST">
    {{ form.hidden_tag() }}

    {% if form.errors %}
      {{ form.errors }}
    {% endif %}

    <div class="row">
      <div class="form-group">
        {{form.team_number}}
        {{form.team_number.label}}
      </div>
      <div class="form-group">
        {{form.auto_move}}
        {{form.auto_move.label}}
      </div>
      <div class="form-group">
        {{form.auto_score_lower}}
        {{form.auto_score_lower.label}}
      </div>
      <div class="form-group">
        {{form.auto_score_outer}}
        {{form.auto_score_outer.label}}
      </div>
      <div class="form-group">
        {{form.auto_score_inner}}
        {{form.auto_score_inner.label}}
      </div>
      <div class="form-group">
        {{form.auto_collect_balls}}
        {{form.auto_collect_balls.label}}
      </div>
      <div class="form-group">
        {{form.auto_consistency}}
        {{form.auto_consistency.label}}
      </div>
    </div>
    {{form.submit(class="btn btn-primary")}}
    </div>
  </form>
{% endblock %}