{% extends "layouts/default.html" %}
{% block content %}

{% include "includes/search.html" %}

<h1>Pit Scout</h1>

{% include "includes/add_pit_report.html" %}

<hr>

<div class="row">
{% for team in teams %}
  <div class="col-md-6 col-lg-4 mb-4">
    <div class="card">
      <h4 class="card-header">
        <a href="{{url_for('pit_scout.pit_report', team_number=team.team_number)}}">{{team.team_number}}</a>
      </h4>
      <div class="card-body">
        <h5>Reports Available</h5>
        {% for pit_report in team.pit_reports %}
        <ul class="mb-0">
          <li>{{pit_report.event}}</li>
        </ul>
        {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}