{% extends "layouts/default.html" %}
{% block content %}

<h1>Pit Scout</h1>

{% include "includes/add_team_button.html" %}

<div class="table-responsive">
  <table class="table text-center mt-3">
    <thead>
      <th scope="col">Team #</th>
      <th scope="col">Hang</th>
      <th scope="col">Balanced</th>
      <th scope="col">Scoring</th>
      <th scope="col">Auto</th>
      <th scope="col">Control Panel</th>
      <th scope="col">Drivetrain</th>
      <th scope="col">Weight</th>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

{% endblock %}