<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="{{url_for('home.index')}}">SEVEREscout</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('pit_scout.all_reports')}}">Pit Scout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('match_scout.all_matches')}}">Match Scout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('bookmarks.display_bookmarks')}}">Bookmarks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('alliance_suggestions.display_suggestions')}}">Alliance Suggestions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-danger" role="button"
        href="{{url_for('google_auth.logout')}}">Logout</a>
      </li>
    </ul>
  </div>
</nav>