{% extends "layouts/default.html" %}
{% block content %}

<h1>Match #{{match_reports[0].match}}</h1>

<h3>Blue Alliance</h3>
{% for match_report in match_reports %}
  {% if match_report.alliance == "Blue" %}
    <h4>Team {{match_report.team_number}}</h4>
    <span>(Station {{match_report.station}})</span>
    
    <h5>Auto</h5>
    <ul>
      <li>Move: {{match_report.auto_move}}</li>
      <li>Score Lower: {{match_report.auto_score_lower}}</li>
      <li>Score Upper: {{match_report.auto_score_upper}}</li>
      <li>Collect Balls: {{match_report.auto_collect_balls}}</li>
      <li>Points: {{match_report.auto_points}}</li>
    </ul>

    <h5>Teleop</h5>
    <ul>
      <li>Score Lower: {{match_report.teleop_score_lower}}</li>
      <li>Score Upper: {{match_report.teleop_score_upper}}</li>
      <li>Attempts: {{match_report.teleop_attempts}}</li>
      <li>Points: {{match_report.teleop_points}}</li>
      <li>Success Rate: {{(match_report.teleop_success_rate * 100) | round(1) }}%</li>
    </ul>
  {% endif %}
{% endfor %}

<h4>Red Alliance</h4>
{% for match_report in match_reports %}
  {% if match_report.alliance == "Red" %}
    <h5>Team {{match_report.team_number}}</h5>
  {% endif %}
{% endfor %}

{% endblock %}